##
##  Copyright(C) 2002 Javanovic Software (http://www.javanovic.com)
##

##  This library is free software; you can redistribute it and/or
##  modify it under the terms of the GNU Lesser General Public
##  License as published by the Free Software Foundation; either
##  version 2.1 of the License, or (at your option) any later version.
##
##  This library is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
##  Lesser General Public License for more details.
##
##  You should have received a copy of the GNU Lesser General Public
##  License along with this library; if not, write to the Free Software
##  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
##
<doc>
<header>
<![CDATA[
<%@include file="/common/taglibs.jsp" %>
##<%@ taglib uri="/WEB-INF/struts-html.tld" prefix="html" %>
##<%@ taglib uri="/WEB-INF/struts-bean.tld" prefix="bean" %>
##<%@ taglib uri="/WEB-INF/struts-logic.tld" prefix="logic" %>
<%@ include file="/security/test_credits.jsp" %>
##<jsp:useBean id="optionsValues" class="com.sprint.peps.taglibs.OptionsForm" scope="session"/>
##<jsp:setProperty  name ="optionsValues"  property="debug" value="true"/>
##<jsp:setProperty  name ="optionsValues"  property="all" value="%"/>

]]>
</header>
#if ($bean.sorting != "0")
#set($bean.sorting="1")
#end 
#set($beansorting="1")

<![CDATA[<html:form action="/${bean.Name}/list.do">]]>
<content>
<![CDATA[
<%
	boolean bUseSelect = true;
//			bUseSelect = false;
	String  sWidth="501";
	//bean.sorting=$beansorting
#foreach($field in $util.getAllColumnsPKFirst($bean))
     boolean b${field.Name}= true;
#end

#foreach($field in $util.getAllColumnsPKFirst($bean))
//      b${field.Name}= false;
#end

#foreach($field in $util.getAllColumnsPKFirst($bean))
   #set($max_size = $field.getValidation().getMaxLength())
   #if ($max_size > 12)
   	#set($max_size=12)
   #end
    String size${field.Name}="$max_size" ;
//    size${field.Name}="$field.getValidation().getMaxLength()"
#end
%>]]>
  <header>
    <![CDATA[&nbsp;&nbsp;<bean:message key="label.list"/> $bean.Name
      <input TYPE="hidden" name="pager.offset"/>
    ]]>

#if ($beansorting)
  <![CDATA[ <peps:sortprep debug="false" beanName="${bean.Name}"/>  ]]>
#end 
  </header>
    <table>
      <header>
       <column/>
      	
      	
#foreach($field in $util.getAllColumnsPKFirst($bean))
<![CDATA[	
<%
 if (b$field.Name)
 {
%>]]> <column>
 #if ($beansorting)
    <![CDATA[<peps:sortmessage key="${bean.Name}.${field.Name}" fieldName="${field.Name}"/>      ]]>
 #else       
     <![CDATA[<bean:message key="${bean.Name}.${field.Name}"/>      ]]>
 #end       
   </column><![CDATA[	
<%
 }
%>]]>	
#end
     </header>
<![CDATA[
<%
  if (bUseSelect)
  {
%>
  <tr>
  <td>&nbsp;</td>
#foreach($field in $util.getAllColumnsPKFirst($bean))
#if (($field.Type == "string")  || ($field.Type == "memo"))
	
<%
   if (b${field.Name} )
   {
%>
        <td>

        <html:text property="${field.Name}" size="<%=size${field.Name}%>" styleId ="${field.Name}_id"/>
##<!--       
##        <jsp:setProperty  name ="optionsValues"  property="opt_name" value="${field.Name}"/>
##        	<html:select property="${field.Name}">
##         <html:optionsCollection name ="optionsValues" property="options" />
##        </html:select>
## -->
##<!--
## 	      <html:select property="${field.Name}">
##	       <html:option value="1">1</html:option>
##	       <html:option value="2">2</html:option>
##	     </html:select>
##	        <br>       
##-->	        
       </td>

<%
   }
%>
#else
<%
   if (b${field.Name} )
   {
%>
<td>
&nbsp;
</td>
<%
    }
%>
#end
#end
</tr>
<%
}
%>
<tr>
  <TD COLSPAN="3">
      <html:submit styleClass="menubutton" property="button(filter)"><bean:message key="label.search"/></html:submit>
      <html:button styleClass="menubutton" property="button(clear)"  onclick="cleanSearch();"><bean:message key="label.clear"/></html:button>
  </TD>
   <td bgcolor="#FFFFFF" ALIGN="center" COLSPAN="8">
 <html:link href="${bean.Name}/add.do" ><bean:message key="label.add"/></html:link>
 </td>
</tr>
 <tr>
        <td COLSPAN="6">
          <peps:totalrecords />
          <bean:write name="pagerHeader" scope="request" filter="false"/><%! String key;%>
         </td>
 </tr>
     <logic:iterate id="$util.firstLower($bean.Name)" name="${bean.Name.toUpperCase()}S" type="${build.Package}.model.${bean.Name}">
]]>
<row>
    <column><![CDATA[
#if($util.arrLen($bean.PrimaryKey.Column) == 1)
#if($build.UrlPattern == "*.do")
#foreach($pk in $bean.PrimaryKey.Column)
        <html:link href="${bean.Name}/edit.do" paramId="${pk.Name}" paramName="$util.firstLower($bean.Name)" paramProperty="${pk.Name}"><bean:message key="label.edit"/></html:link>&nbsp;
        <html:link href="${bean.Name}/view.do" paramId="${pk.Name}" paramName="$util.firstLower($bean.Name)" paramProperty="${pk.Name}"><bean:message key="label.view"/></html:link>&nbsp;
        <html:link href="${bean.Name}/remove.do" paramId="${pk.Name}" paramName="$util.firstLower($bean.Name)" paramProperty="${pk.Name}"><bean:message key="label.remove"/></html:link>
#end
#else
#foreach($pk in $bean.PrimaryKey.Column)
        <html:link href="do/${bean.Name}/edit" paramId="${pk.Name}" paramName="$util.firstLower($bean.Name)" paramProperty="${pk.Name}"><bean:message key="label.edit"/></html:link>&nbsp;
        <html:link href="do/${bean.Name}/view" paramId="${pk.Name}" paramName="$util.firstLower($bean.Name)" paramProperty="${pk.Name}"><bean:message key="label.view"/></html:link>&nbsp;
        <html:link href="do/${bean.Name}/remove" paramId="${pk.Name}" paramName="$util.firstLower($bean.Name)" paramProperty="${pk.Name}"><bean:message key="label.remove"/></html:link>
#end
#end
#else
<%
java.util.HashMap map = new java.util.HashMap();
#foreach($pk in $bean.PrimaryKey.Column)
map.put("$pk.Name", String.valueOf(${util.firstLower($bean.Name)}.get${util.firstUpper($pk.Name)}()));
#end
pageContext.setAttribute("map", map, PageContext.PAGE_SCOPE);
%>
#if($build.UrlPattern == "*.do")
        <html:link href="${bean.Name}/edit.do" name="map" scope="page"><bean:message key="label.edit"/></html:link>&nbsp;
        <html:link href="${bean.Name}/view.do" name="map" scope="page"><bean:message key="label.view"/></html:link>&nbsp;
        <html:link href="${bean.Name}/remove.do" name="map" scope="page"><bean:message key="label.remove"/></html:link>
#else
        <html:link href="do/${bean.Name}/edit" name="map" scope="page"><bean:message key="label.edit"/></html:link>&nbsp;
        <html:link href="do/${bean.Name}/view" name="map" scope="page"><bean:message key="label.view"/></html:link>&nbsp;
        <html:link href="do/${bean.Name}/remove" name="map" scope="page"><bean:message key="label.remove"/></html:link>
#end
#end
    ]]>
    </column>
	
	

#foreach($field in $util.getAllColumnsPKFirst($bean))

<![CDATA[	
<%
 if (b$field.Name)
 {
%>]]>	
#if($util.isNumberType($field.Type) && !$field.Value)
#set($alignment="right")
#else
#set($alignment="left")
#end    <column><![CDATA[
#if($field.Type == "password")
                    ******
#elseif($field.Format)
                    <bean:write name="$util.firstLower($bean.Name)" formatKey="${bean.Name}.${field.Name}.format" property="$field.Name" scope="page"/>
#elseif($field.Value)
#if($field.Value.GlobalValueRef)
                    <% key = "${field.Value.GlobalValueRef}."+${util.firstLower(${bean.Name})}.get${util.firstUpper($field.Name)}();%>
                    <bean:message key="<%=key%>"/>
#else
                    <% key = "${bean.Name}.${field.Name}."+${util.firstLower(${bean.Name})}.get${util.firstUpper($field.Name)}();%>
                    <bean:message key="<%=key%>"/>
#end
#else
                    <bean:write name="$util.firstLower($bean.Name)" property="${field.Name}" scope="page"/>
#end
#if($field.SelectView)
     #   ( <peps:selectviiew  name="${util.firstLower($bean.Name)}" property="$field.Name"  view_name="product" display="true" />)
#end 
]]>   </column> <![CDATA[	
<%
 }
%>]]>	#end		
</row>
<![CDATA[
              </logic:iterate>
]]>
          </table>
</content>
<![CDATA[</html:form>]]>
<![CDATA[
 <SCRIPT LANGUAGE="JavaScript" type="text/javascript">
  <!-- // Activate cloak
   function  cleanSearch()
   {
    with (window.document.forms["$util.firstLower($bean.Name)Form"])
##    with (window.document.forms[0])
      {
#foreach($field in $util.getAllColumnsPKFirst($bean))
		if ( elements["$field.Name"] )
		{
		    elements["$field.Name"].value="";
		}
		if ( elements["sort_$field.Name"] )
		{
		    elements["sort_$field.Name"].value="";
		}
#end
        submit();
      }
   }
 -->
</SCRIPT>	

]]>

</doc>

