##
##
##  This library is free software; you can redistribute it and/or
##  modify it under the terms of the GNU Lesser General Public
##  License as published by the Free Software Foundation; either
##  version 2.1 of the License, or (at your option) any later version.
##
##  This library is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
##  Lesser General Public License for more details.
##
##  You should have received a copy of the GNU Lesser General Public
##  License along with this library; if not, write to the Free Software
##  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
##
<doc>
<header>
<![CDATA[
<%@ include file="/common/taglibs.jsp" %>
<%@include file="/security/test_credits.jsp"%>
]]>
</header>
  <content>
    <header>
      <title><![CDATA[&nbsp;&nbsp;<bean:message key="label.view"/>: <bean:message key="title${bean.Name}"/>&nbsp; ]]>
      </title>
    </header>
    <table>
      <header/>
<![CDATA[
<logic:present name="${util.firstLower($bean.Name)}Form" scope="request">
]]>
#foreach($field in $util.getAllColumnsPKFirst($bean))
        <row>
            <title><![CDATA[<bean:message key="${bean.Name}.${field.Name}"/>]]></title>
            <value><![CDATA[
#if($field.SelectView)
	
          <peps:selectviiew  name="${util.firstLower($bean.Name)}Form" property="$field.Name"  view_name="product"  display="true"/>
	
#elseif($field.Type == "password")
               ******
#elseif($field.Format)
              <bean:write name="${util.firstLower($bean.Name)}Form" formatKey="${bean.Name}.${field.Name}.format" property="$field.Name" scope="request"/>
#elseif($field.Value)
              <bean:message name="${util.firstLower($bean.Name)}Form" property="${field.Name}Display" scope="request"/>
#else
              <bean:write name="${util.firstLower($bean.Name)}Form" property="$field.Name" scope="request"/>
#end
            ]]>
            </value>
         </row>
#end
<![CDATA[
</logic:present>
<logic:notPresent name="${util.firstLower($bean.Name)}Form" scope="request">
  <tr>
    <td>
    <bean:message key="error.notfound"/>
    </td>
  <tr>
</logic:notPresent>
  <tr>

    <td colspan="3">

      <table bgcolor="#f2f2f2" height="30" cellpadding="0" cellspacing="0" border="0" width="100%">

        <tr ALIGN="center" valign="middle">

          <td>
                  &nbsp;<html:link href="$bean.Name/list.do"> <bean:message key="label.list"/>: <bean:message key="title${bean.Name}"/> </html:link>

          </td>

        </tr>


            </table>

       </td>
    </tr>

]]>
</table>
          
</content>
</doc>
