##
##  Copyright(C) 2006 Sprint. INC
##
##  This library is free software; you can redistribute it and/or
##  modify it under the terms of the GNU Lesser General Public
##  License as published by the Free Software Foundation; either
##  version 2.1 of the License, or (at your option) any later version.
##
##  This library is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
##  Lesser General Public License for more details.
##
##  You should have received a copy of the GNU Lesser General Public
##  License along with this library; if not, write to the Free Software
##  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
##
//---------------------------------------------------------
// Application: $property.Name
// Author     : $property.Author
// File       : DateBeanUtilsConverter.java
//              Coverts java.util.Date to String using BeanUtils
//
// Copyright $year $property.Company
// Created at $date.Time
// 

//---------------------------------------------------------

package ${build.Package}.util;

import org.apache.commons.beanutils.Converter;
//import org.apache.commons.logging.LogFactory;
import java.text.*;
import java.util.*;

public class DateBeanUtilsConverter implements Converter {
  private String formatPattern = null;
  //private org.apache.commons.logging.Log __log = LogFactory.getFactory().getInstance(this.getClass());

  public void setFormatPattern(String formatPattern) {
    this.formatPattern = formatPattern;
  }

  public Object convert(Class type, Object value) {
    Date date = null;
    if (value != null && (value instanceof String) && (type == Date.class)) {
      try {
        String s = value.toString();
        SimpleDateFormat formatter = new SimpleDateFormat(formatPattern);
        date = formatter.parse(s);
      } catch (Exception e) {
      //  if (__log.isInfoEnabled()) {
      //    __log.error("DateBeanUtilsConverter: " + e);
      //  }
      }
    }
    return date;
  }
}